#activities-page{
    margin-top: 100px;
}

#activities-hero1{
    width: 80%;
    margin: auto;
    max-width: 1000px;
}

#activities-hero1 video{
    width: 100%;
    border-radius: 20px;
}

.activity{
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: #e1e4e9;
}

.activity-content{
    background-color: #e1e4e9;
}

.activity-content, .activity-img{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
}

.activity-text{
    width: 60%;
    padding: 100px;
    line-height: 2rem;
}

.activity-text h1{
    font-size: 36pt;
    font-weight: 600;
    line-height: 5rem;
}

.activity-text p{
    font-size: 14pt;
    font-weight: 300;
}

.activity-img img{
    width: 100%;
    height: 100%;
}

.act-txt-2{
    order: 2;
}

.important-button{
    width: 45%;
    box-sizing: border-box;
    padding: 15px 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14pt;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 1.5px 0px;
    font-weight: 600;
    background: linear-gradient(180deg, var(--background-color) 0%, var(--background-color-2) 100%);
    border: none !important;
    color: white;
    min-width: fit-content;
}

#activities-hero1{
    margin-top: 75px;
}

#activities-hero1 h1{
    text-align: center;
}

#activities-banner{
    display: flex;
    height: auto;
    background-color: var(--background-color-2);
    margin-top: 100px;
}

#activities-banner-img{
    width: 50%;
}

#activities-banner-img img{
    height: 100%;
    width: 100%;
}

#activities-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: white;
    padding: 25px;
    box-sizing: border-box;
}

#banner-text{
    width: 60%;
}

#banner-text h2{
    font-size: 26pt;
    font-weight: 600;
}

#banner-text p{
    font-size: 13pt;
    font-weight: 300;
    line-height: 2rem;
}

#separador{
    width: 200px;
    height: auto;
    background: linear-gradient(90deg, var(--background-color-2) 0%, rgb(44, 117, 176, 0.5) 50%, rgb(44, 117, 176, 0) 100%);
    transform: translateX(100%);
}

@media screen and (max-width: 1300px){
        
    .activity-text{
        width: 80%;
        padding: 75px;
        line-height: 2rem;
    }

    .activity-text h1{
        font-size: 30pt;
        font-weight: 600;
        line-height: 4rem;
    }
    
    #activities-banner-content{
        width: 40%;
    }

    #banner-text{
        width: 80%;
    }
}

@media screen and (max-width: 986px){
    .activity{
        flex-direction: column;
        align-items: center;
    }

    #activities{
        background-color: #e1e4e9;
        padding-bottom: 100px;
    }
    
    .act-txt-2{
        order: 0;
    }

    .activity-content{
        width: 100%;
    }

    #activities-banner-img, #separador{
        display: none;
    }

    #activities-banner-content{
        width: 100%;
        align-items: center;
        text-align: center;
    }

}