<div id="activities-page">
    <div id="activities">
        <div class="activity">
            <div class="activity-content">
                <div class="activity-text">
                    <h1>Alivia la ansiedad y el estrés cuando lo necesites</h1>
                    <p>Aprende a reducir la ansiedad y descubre las herramientas para aliviar el estrés de inmediato. Nuestros expertos clínicos y profesores de meditación te acompañarán con una gran variedad de programas para reducir el estrés, meditaciones para controlar la ansiedad y contenido guiado</p>
                    <button type="button" class="important-button">Seguir actividad</button>
                </div>
            </div>
            <div class="activity-img">
                <img src="../../assets/images/activity-1.webp" alt="">
            </div>
        </div>
        <div class="activity">
            <div class="activity-content act-txt-2">
                <div class="activity-text">
                    <h1>Historias, meditaciones, música y paisajes sonoros para conciliar el sueño</h1>
                    <p>Únete a los millones de usuarios que duermen profundo en todo el mundo. Concilia el sueño de forma fácil y natural con nuestras Historias para Dormir, meditaciones, y la música y los sonidos exclusivos para el descanso. Hay cientos de títulos entre los que puedes elegir para transportarte al país de los sueños en un instante.</p>
                    <button type="button" class="important-button">Seguir actividad</button>
                </div>
            </div>
            <div class="activity-img">
                <img src="../../assets/images/activity-2.webp" alt="">
            </div>
        </div>
        <div class="activity">
            <div class="activity-content">
                <div class="activity-text">
                    <h1>Meditaciones y programas guiados que te ayudarán a desarrollar hábitos saludables para toda la vida</h1>
                    <p>Estás en el lugar correcto. Calm pone a tu alcance herramientas para cultivar la conciencia plena con meditaciones guiadas, música relajante y programas diarios que se pueden ajustar fácilmente a tu estilo de vida.</p>
                    <button type="button" class="important-button">Seguir actividad</button>
                </div>
            </div>
            <div class="activity-img">
                <img src="../../assets/images/activity-3.webp" alt="">
            </div>
        </div>
    </div>
    <div id="activities-hero1">
        <h1>Respira</h1>
        <video src="../../assets/videos/Respira.mp4" autoplay loop muted [controls]="false" ></video>
    </div>
</div>
