<div id="header">
    <a href=""><img id="logo" src="{{logoImage}}" alt=""></a>
    <nav>
        <ul>
            <a href="" [routerLink]="['/activities']" routerLinkActive="router-link-active" (click)="headerCompleto()">
                <li>Activities</li>
            </a>
            <a href="">
                <li>Blog</li>
            </a>
        </ul>
    </nav>
    <div id="modos">
        <button *ngIf="mode == 'oriental'" type="button" (click)="toggleTheme()">Occidental</button>
        <button *ngIf="mode == 'occidental'" type="button" (click)="toggleTheme()">Oriental</button>
    </div>
</div>
