<div id="footer">
    <div class="column">
        <strong><p>Mindly</p></strong>
        <p>Información</p>
        <p>Empleo</p>
        <p>Actividades</p>
        <p>Blog</p>
    </div>
    <div class="column">
        <strong><p>Ofertas</p></strong>
        <p>Cursos</p>
        <p>Planes</p>
        <p>Cupones</p>
        <p>Business</p>
    </div>
    <div class="column">
        <strong><p>Ayuda</p></strong>
        <p>FAQ</p>
        <p>Contacto</p>
        <p>Términos</p>
        <p>Política de privacidad</p>
    </div>
</div>
