<div id="blog-container">
    <div class="blog-banner">
        <h1>Mindly Blog</h1>
        <p>Descubre un mundo de sabiduría y prácticas ancestrales para el bienestar del cuerpo y la mente. Desde los enfoques occidentales modernos hasta las tradiciones orientales milenarias, nuestro blog te guía hacia una vida más equilibrada y plena. </p>
        <img src="../../assets/images/blog-banner.png" alt="">
    </div>
    <app-posts></app-posts>
    <div class="blog-banner">
        <h1>Acceso a contenido de salud mental agradable y basado en evidencia</h1>
        <p>Nuestros programas de salud mental están escritos por psicólogos y narrados por las voces confiables de Calm. Los programas se adhieren a los principios de la terapia cognitiva conductual, la terapia de aceptación y compromiso y la terapia conductual dialéctica.</p>
        <img src="../../assets/images/blog-banner-2.png" alt="">
    </div>
</div>
