#blog-container{
    margin: 100px 0px;
}

.blog-banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.blog-banner h1{
    color: var(--background-color);
    font-size: 28pt;
}

.blog-banner p{
    font-size: 14pt;
    color: var(--text-color);
    width: 80%;
    max-width: 1000px;
    line-height: 2rem;
}

.blog-banner img{
    width: 75%;
    max-width: 600px;
}