.occidental{
    --background-color: #60b2e7;
    --background-color-2: #646be1;
    --primary-color: #1A3E6F;
    --text-color: #383838;
}

.oriental{
    --background-color: #00A86B;
    --background-color-2: #FFA07A;
    --primary-color: #039caf;
    --text-color: #3B3B3B;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F7F7F7;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    color: var(--primary-color);
}

h3{
    color: var(--text-color);
    font-weight: 600;
}

/* HEADER */

.occidental div#header{
    background: linear-gradient(180deg, rgba(4, 50, 88, 1) 0%, rgba(4, 50, 88, 0) 100%);
}

.oriental div#header {
    background: linear-gradient(180deg, var(--background-color) 0%, rgba(214, 168, 83, 0) 100%);
}

/* MAIN */
.occidental div#header, .oriental div#header{
    animation: menu linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

@keyframes menu {
    from{
      height: 100px;
    }

    to{
      height: 75px;
      background-color: var(--background-color-2);
      backdrop-filter: blur(5px);
    }
}